{
  "openapi": "3.0",
  "paths": {
    "/stock/{symbol}/chart/{range}": {
      "get": {
        "description": "Returns adjusted and unadjusted historical data for up to 15 years, and historical minute-by-minute intraday prices for the last 30 trailing calendar days. Useful for building charts.",
        "summary": "Historical Prices",
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "description": "Valid symbol",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "GOOG": {
                "summary": "Alphabet Inc.",
                "value": "GOOG"
              },
              "AMZN": {
                "summary": "Amazon.com Inc.",
                "value": "AMZN"
              },
              "AAPL": {
                "summary": "Apple Inc.",
                "value": "AAPL"
              },
              "FB": {
                "summary": "Facebook Inc.",
                "value": "FB"
              },
              "MSFT": {
                "summary": "Microsoft",
                "value": "MSFT"
              }
            }
          },
          {
            "name": "range",
            "in": "path",
            "description": "Valid symbol",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "5y": {
                "summary": "Five years",
                "value": "5y"
              },
              "2y": {
                "summary": "Two years",
                "value": "2y"
              },
              "1y": {
                "summary": "One year",
                "value": "1y"
              },
              "ytd": {
                "summary": "Year-to-date",
                "value": "ytd"
              },
              "6m": {
                "summary": "Six months",
                "value": "6m"
              },
              "3m": {
                "summary": "Three months",
                "value": "3m"
              },
              "5d": {
                "summary": "Five Days",
                "value": "5d"
              }
            }
          }
        ]
      }
    }
  },
  "info": {
    "version": "v1",
    "title": "IEX Cloud API",
    "description": "The IEX Cloud API is based on REST, has resource-oriented URLs, returns JSON-encoded responses, and returns standard HTTP response codes"
  },
  "servers": [
    {
      "url": "https://cloud.iexapis.com/stable"
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "name": "token",
        "in": "query",
        "description": "IEX Cloud authenticates your API requests using your account’s API tokens. To use any IEX Cloud API, you must pass an API token with each request. If you do not include your API token when making an API request, or use one that is incorrect or disabled, IEX Cloud returns an error"
      }
    }
  }
}
